@(title: String)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("stylesheets/images/ui-bg_diagonals-thick_18_b81900_40x40.png")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("stylesheets/images/ui-bg_diagonals-thick_20_666666_40x40.png")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("stylesheets/images/ui-bg_flat_10_000000_40x100.png")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("stylesheets/images/ui-bg_glass_100_f6f6f6_1x400.png")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("stylesheets/images/ui-bg_glass_100_fdf5ce_1x400.png")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("stylesheets/images/ui-bg_glass_65_ffffff_1x400.png")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("stylesheets/images/ui-bg_gloss-wave_35_f6a828_500x100.png")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("stylesheets/images/ui-bg_highlight-soft_100_eeeeee_1x100.png")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("stylesheets/images/ui-bg_highlight-soft_75_ffe45c_1x100.png")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("stylesheets/images/ui-icons_222222_256x240.png")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("stylesheets/images/ui-icons_228ef1_256x240.png")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("stylesheets/images/ui-icons_ef8c08_256x240.png")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("stylesheets/images/ui-icons_ffd27a_256x240.png")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("stylesheets/images/ui-icons_ffffff_256x240.png")">
        
        <!--Adding required libraries for DateTime picker UI  -->
		<link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/jquery.datetimepicker.css")">
		<script src="@routes.Assets.at("javascripts/jquery.js")" type="text/javascript"></script>
		<script src="@routes.Assets.at("javascripts/jquery.datetimepicker.js")" type="text/javascript"></script>
		
		<script src="@routes.Assets.at("javascripts/jquery-ui-1.9.2.custom.js")" type="text/javascript"></script>
		<script src="@routes.Assets.at("javascripts/jquery-ui-1.9.2.custom.min.js")" type="text/javascript"></script>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/jquery-ui-1.9.2.custom.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/jquery-ui-1.9.2.custom.min.css")">
       
        
        <!--Adding required libraries for HighCharts -->
		<script src="http://code.highcharts.com/stock/highstock.js"></script>
		<script src="http://code.highcharts.com/stock/modules/exporting.js"></script>        
        
        <!-- Extra Unnecessary Scripts
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="http://code.highcharts.com/highcharts.js"></script>
		<script src="http://code.highcharts.com/modules/exporting.js"></script>
        <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
        <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
        <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
        -->
      
    </head>
    
    <body style="background-color:lightyellow;">
        @content
    <hr>
    <form action="/post" id="searchForm">
  	<h2>Enter Start Date      <input type="text" id="datepicker1" name="start" placeholder="Click To Select"></h2>
  	<h2>Enter End Date        <input type="text" id="datepicker2" name="end" placeholder="Click To Select"></h2>
  	<input type="submit" value="SUBMIT">
	</form>
	<hr>
	<!-- The HighChart after the Ajax request will be rendered inside this div -->
	
	<div id="dialogUI" title="fruits">
	<p><label><input type="radio" name="fruits" value="Item 1">Item 1</label></p>
	<p><label><input type="radio" name="fruits" value="Item 2">Item 2</label></p>
	<p><label><input type="radio" name="fruits" value="Item 3">Item 3</label></p>
	<p><label><input type="radio" name="fruits" value="Item 4">Item 4</label></p>
	</div>
    
    <div id="container" style="height: 450px; min-width: 600px"> <img id="image" height="450 width="1000" src="@routes.Assets.at("images/Untitled.png")"/></div>
    <button type="button" id="save">Save Annotations</button>
    <button type="button" id="show">Show Saved Annotations</button>
    <button type="button" id="temp">Show </button>
    <div id="container2" style="height: 450px; min-width: 600px"></div>
    
	<script>
		$(document).ready(function(){
			
            $( this ).find('#dialogUI').hide();
	
			jQuery('#datepicker1').datetimepicker({
			startDate:'-1970/06/03',
			minDate:'2014/01/01',
  			maxDate:'2014/01/10',
			format:'unixtime'
			});
  		
			jQuery('#datepicker2').datetimepicker({
  			startDate:'-1970/05/29',
  			minDate:'2014/01/01',
  			maxDate:'2014/01/10',
  			format:'unixtime'
			});
		});

		var start;
		var end;
		var deviceMapA = {};
    	var deviceMapB = {};
    	var deviceMapC = {};
    	var deviceMapD = {};
    	
    	var selectStart;
		var selectEnd;
		var chart;
		
		
		function drawchart(){
    	alert("In drawchart");
    	var startValue=Number(start);
    	var endValue=Number(end);
    	if (startValue>endValue){
	    	alert("ERROR : INVALID DATA ENTRY\nPLEASE TRY AGAIN");
	    	location.reload();
    	}
    	var posting = $.post( "/post", { 'Start' : start , 'End' : end }, function(data){
    					
    					Highcharts.setOptions({
							global: {
								useUTC: false
							}
						});
    					var sensorchartOptions = {
    					chart: {
				            renderTo: 'container',
				            type: 'line',
				            zoomType: 'x',
					        events: {
					        	
					        	selection: function(event) {
					        		event.preventDefault();
					        		
					                if (event.xAxis) {
					                	var len,value;
					                	var select_S = new Date(event.xAxis[0].min);
					                	var select_E = new Date(event.xAxis[0].max);
					                	selectStart = (select_S.getTime()-select_S.getMilliseconds())/1000;
					                	selectEnd   = (select_E.getTime()-select_E.getMilliseconds())/1000;
					                    /* $("#dialogUI").dialog({
										        resizable: false,
										        modal: true,
										        title: "Confirm Selection",
										        height: 350,
										        width: 600,
										        buttons: {
										            "Yes": function () {
										                len = document.getElementsByName("fruits").length;
										                for (var i = 0 ; i < len ; i++){
										                	if (document.getElementsByName("fruits")[i].checked){
										                		value = document.getElementsByName("fruits")[i].value;
										                		alert(value);
										                		break;
										                	}	
										                }
										                
										            },
										                "No": function () {
										                $(this).dialog('close');
										                
										            }
										        }
										    });*/
										    //alert("here");
					                   	var device = prompt("Please choose the INDEX of the Device from the following\n1.Item 1\n2.Item 2\n3.Item 3\n4.Item 4","Eg. 1 for Item 1");
									    if (device != null) {
									      	switch(Number(device)){
									        	case 1:
									        		alert("Device Usage Saved");
									        		for (var i=selectStart; i <= selectEnd; i++){
									        			deviceMapA[i] = 1;
									        		}
									        		plot(selectStart,selectEnd,1);
									        		break;
									        	case 2:
									        		alert("Device Usage Saved");
									        		for (var i=selectStart; i <= selectEnd; i++){
									        			deviceMapB[i] = 1;
									        		}
									        		plot(selectStart,selectEnd,2);
									        		break;
									        	case 3:
									        		alert("Device Usage Saved");
									        		for (var i=selectStart; i <= selectEnd; i++){
									        			deviceMapC[i] = 1;
									        		}
									        		plot(selectStart,selectEnd,3);
									        		break;
									        	case 4:
									        		alert("Device Usage Saved");
									        		for (var i=selectStart; i <= selectEnd; i++){
									        			deviceMapD[i] = 1;
									        		}
									        		plot(selectStart,selectEnd,4);
									        		break;
									        	default:
									        		alert("Invalid Input !!! Please Try Again");
									        	
									        }
									        
									        
									    }
					                } 
					        	}
					      	 
				    		},
				        },
				        title: {
				            text: 'SENSOR DATA'
				        },
				       	rangeSelector: {
        						buttons: [{
											type: 'minute',
											count: 1,
											text: 'min'
										}, {
											type: 'hour',
											count: 1,
											text: 'hr'
										}, {
											type: 'day',
											text: 'day'
										}, {
											type: 'all',
											text: 'All'
										}],
								buttonTheme: { // styles for the buttons
								    		fill: 'none',
								    		stroke: 'none',
								    		'stroke-width': 0,
								    		r: 8,
								    		style: {
								    			color: '#039',
								    			fontWeight: 'bold'
								    		},
								    		states: {
								    			hover: {
								    			},
								    			select: {
								    				fill: '#039',
								    				style: {
								    					color: 'white'
								    				}
								    			}
								    		}
								    	},
								 inputEnabled: false
						    	
					    },
					    scrollbar: {
							barBackgroundColor: 'gray',
							barBorderRadius: 7,
							barBorderWidth: 0,
							buttonBackgroundColor: 'gray',
							buttonBorderWidth: 0,
							buttonArrowColor: 'yellow',
							buttonBorderRadius: 7,
							rifleColor: 'yellow',
							trackBackgroundColor: 'white',
							trackBorderWidth: 1,
							trackBorderColor: 'silver',
							trackBorderRadius: 7
					    },
       					navigator: {
					    	handles: {
					    		backgroundColor: 'yellow',
					    		borderColor: 'red'
					    	}
					    },
        				xAxis: {
        					type: 'datetime'
        				},
        				yAxis: {
        					allowDecimals :true
        				},
				        series: [{
				        			data:[]
				        			
				        		}]
				       };			
				     
				      chart = new Highcharts.StockChart(sensorchartOptions);
    				  var points = $.parseJSON(data);
    				  $.each(points, function( key, value ) {
    				  			num=Number(key)*1000;
    				  			var date = new Date(num).getTime();
    				  			chart.series[0].addPoint([date,Number(value)], false);
  			        			});
  								
  					  chart.redraw();
  					  alert("Press Show");
					 })
					  .fail(function(error) {
					  alert("Ajax Request Failed\nError Status Code : "+ 
					  error.status +"\nError Type : "+error.responseText+"\nPlease Try Again");
					  
  					 });					
    				
    		}		
		
		
		$("#searchForm").submit(function(event){
 		event.preventDefault();
 	
 		var $form = $( this );
  		start = $form.find( "input[name='start']" ).val();
  		end = $form.find( "input[name='end']" ).val();
    	drawchart();
    	
		});
		
		
		
		function plot(start,stop,c){
		switch(c){
			case 1:
			case 'deviceA.csv': 
				chart.xAxis[0].addPlotBand({
						from: start*1000,
						to: stop*1000,
						color:'#FF83FF',
						id:'deviceA',
						label: {
	                    text: 'deviceA',
	                    style: {
	                        color: 'blue',
	                        fontWeight: 'bold'
		                    }
		                },
		                events: {
		                    click: function(e) {
		                    	var confirm = window.confirm("Are you sure you want to DELETE this label?");
		                        if(confirm == true){
		                        		$.ajax({
												  type: "POST",
												  url: '/delete',
												  data: {'Start' : start , 'Stop' : stop , 'Name' : 'deviceA.csv'},
												  success:function(data){
												  		alert("Deletion Successful");
												  		location.reload();
												  }
								 	 	 });
								 	}//if close	 	 
		                        }//click close
		                        
						  }//event close
					})//plotband close
				
					break;
			case 2:
			case 'deviceB.csv':
			chart.xAxis[0].addPlotBand({
						from: start*1000,
						to: stop*1000,
						color:'#FFFF66',
						id:'deviceB',
						label: {
	                    text: 'deviceB',
	                    style: {
	                        color: 'blue',
	                        fontWeight: 'bold'
		                    }
		                }, 
						events: {
		                    click: function(e) {
		                    	var confirm = window.confirm("Are you sure you want to DELETE this label?");
		                        if(confirm == true){
		                        		$.ajax({
												  type: "POST",
												  url: '/delete',
												  data: {'Start' : start , 'Stop' : stop , 'Name' : 'deviceB.csv'},
												  success:function(data){
												  		alert("Deletion Successful");
												  		locarion.reload();
												  }
								 	 	 });
								 	}//if close	 	 
		                        }//click close
		                        
						  }//event close
					})
					
					break;
			case 3:
			case 'deviceC.csv':
			chart.xAxis[0].addPlotBand({
						from: start*1000,
						to: stop*1000,
						color:'#5CE68A',
						id:'deviceC',
						label: {
	                    text: 'deviceC',
	                    style: {
	                        color: 'blue',
	                        fontWeight: 'bold'
		                    }
		                }, 
					    events: {
		                    click: function(e) {
		                    	var confirm = window.confirm("Are you sure you want to DELETE this label?");
		                        if(confirm == true){
		                        		$.ajax({
												  type: "POST",
												  url: '/delete',
												  data: {'Start' : start , 'Stop' : stop , 'Name' : 'deviceC.csv'},
												  success:function(data){
												  		alert("Deletion Successful");
												  		locarion.reload();
												  }
								 	 	 });
								 	}//if close	 	 
		                        }//click close
		                        
						  }//event close
					})
					
					break;
			case 4:
			case 'deviceD.csv':
			chart.xAxis[0].addPlotBand({
						from: start*1000,
						to: stop*1000,
						color:'#8BFFFF',
						id:'deviceD',
						label: {
	                    text: 'deviceD',
	                    style: {
	                        color: 'blue',
	                        fontWeight: 'bold'
		                    }
		                }, 
					    events: {
		                    click: function(e) {
		                    	var confirm = window.confirm("Are you sure you want to DELETE this label?");
		                        if(confirm == true){
		                        		$.ajax({
												  type: "POST",
												  url: '/delete',
												  data: {'Start' : start , 'Stop' : stop , 'Name' : 'deviceD.csv'},
												  success:function(data){
												  		alert("Deletion Successful");
												  		locarion.reload();
												  }
								 	 	 });
								 	}//if close	 	 
		                        }//click close
		                        
						  }//event close
					})
				
					break;		
			
				
				
		   	   }
		
		}
		
		$('#show').click(function() {
		var labelname = [];
		console.log("hereeeeeeeeeeeee");
		var from = [];
    	var to = [];
    	var i = 0;
    	console.log(from[0]+":"+to[0]+":"+labelname[0])
			jQuery.ajax({type: "GET",
						            url: "/show",
						            success: function(data){
						            	console.log(data);
						                 var myData = $.parseJSON(data);
										  $.each(myData, function( key, value ) {   
    										 var start = true;
    										 var prev;
    										  
    										  labelname.push(key);
    										 $.each(value, function( k, v ) { 
											    //console.log(k);
											     if(start){
											     	from[i] = Number(k);
											     	start = false;
												 }
												 else{
													  if (!start && prev !=  (Number(k)-1)){
														  to[i] = prev;
														  i++;
														  labelname.push(key);
														  console.log("Number"+Number(k))
														  from[i]=Number(k);
														  
													 } 
													  if (!start){ 
													  	  to[i] = Number(k);
													 }
												}
												prev = Number(k);
										    });
										    i++;	
										    
										    
										});
										 
									  	start = Math.min.apply(Math, from);
									   	end = Math.max.apply(Math, to);
									   	drawchart();
									   	//alert("here");
									   	
									   	$('#temp').click(function(){
									 	for (var j = 0; j < from.length;j++){
										  	plot(from[j],to[j],labelname[j]);
										  	console.log(labelname[j]+":"+from[j]+":"+to[j]);
										   	}
										});			                
						            }
						      });
						      
			})
		
		
		$('#save').click(function() {
		var devicechartOptions = {
    					chart: {
				            renderTo: 'container2',
				            type: 'line',
				        },
				        title: {
				            text: 'DEVICE USAGE DATA'
				        },
				       	rangeSelector: {
        						buttons: [{
											type: 'minute',
											count: 1,
											text: 'min'
										}, {
											type: 'hour',
											count: 1,
											text: 'hr'
										}, {
											type: 'day',
											text: 'day'
										}, {
											type: 'all',
											text: 'All'
										}],
								buttonTheme: { // styles for the buttons
								    		fill: 'none',
								    		stroke: 'none',
								    		'stroke-width': 0,
								    		r: 8,
								    		style: {
								    			color: '#039',
								    			fontWeight: 'bold'
								    		},
								    		states: {
								    			hover: {
								    			},
								    			select: {
								    				fill: '#039',
								    				style: {
								    					color: 'white'
								    				}
								    			}
								    		}
								    	},
								 inputEnabled: false
						    	
					    },
					    scrollbar: {
							barBackgroundColor: 'gray',
							barBorderRadius: 7,
							barBorderWidth: 0,
							buttonBackgroundColor: 'gray',
							buttonBorderWidth: 0,
							buttonArrowColor: 'yellow',
							buttonBorderRadius: 7,
							rifleColor: 'yellow',
							trackBackgroundColor: 'white',
							trackBorderWidth: 1,
							trackBorderColor: 'silver',
							trackBorderRadius: 7
					    },
       					navigator: {
					    	handles: {
					    		backgroundColor: 'yellow',
					    		borderColor: 'red'
					    	}
					    },
        				xAxis: {
        					type: 'datetime'
        					
        					
        				},
        				yAxis: {
        					allowDecimals :false
        				},
				        series: [{
				        			data: []
				        		},{
						            data: []
						        }, {
						            data: []
						        }, {
						            data: []	
				        		}]
				       };			
				     
				      var chart2 = new Highcharts.StockChart(devicechartOptions);
    				  for (var i=Number(start);i<Number(end);i++){
    				  	  var milliSec=Number(i)*1000;
    				  	  var dateX = new Date(milliSec).getTime();
    				   	  
    				   	  if (i in deviceMapA) {
    				   	  		chart2.series[0].addPoint([dateX,1], false);
    				   	  } else {
    				   	  		chart2.series[0].addPoint([dateX,0], false);
    				   	  }
    				   	  if (i in deviceMapB) {
    				   	  		chart2.series[1].addPoint([dateX,1], false);
    				   	  } else {
    				   	  		chart2.series[1].addPoint([dateX,0], false);
    				   	  }
    				   	  if (i in deviceMapC) {
    				   	  		chart2.series[2].addPoint([dateX,1], false);
    				   	  } else {
    				   	  		chart2.series[2].addPoint([dateX,0], false);
    				   	  }
    				   	  if (i in deviceMapD) {
    				   	  		chart2.series[3].addPoint([dateX,1], false);
    				   	  } else {
    				   	  		chart2.series[3].addPoint([dateX,0], false);
    				   	  }
    				   	  
    				   	  
    				  }
    				  		chart2.redraw();
    				  	
  					  		var annotated = {};
  					  		annotated.start = start;
  					  		annotated.end = end;
  					  		annotated.streamname = "meter data";
  					  		annotated.names = {"deviceA":1,"deviceB":1,"deviceC":1,"deviceD":1}
  					  		annotated.deviceA = deviceMapA;
  					  		annotated.deviceB = deviceMapB;
  					  	    annotated.deviceC = deviceMapC;
  					  	    annotated.deviceD = deviceMapD;
  					  	    
  					  	    var annotatedJson= JSON.stringify(annotated);
  							jQuery.ajax({type: "POST",
						            url: "/save",
						            data: annotatedJson,
						            dataType: "json",
						            contentType: "application/json; charset=utf-8",
						            success: function(data){
						                alert("Changes been succesfully saved"+data);
						            }
						      });
  					  
		});
		
		
		
		
		
		
	</script>
  </body>
</html>
