@(title: String)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("stylesheets/images/ui-bg_diagonals-thick_18_b81900_40x40.png")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("stylesheets/images/ui-bg_diagonals-thick_20_666666_40x40.png")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("stylesheets/images/ui-bg_flat_10_000000_40x100.png")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("stylesheets/images/ui-bg_glass_100_f6f6f6_1x400.png")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("stylesheets/images/ui-bg_glass_100_fdf5ce_1x400.png")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("stylesheets/images/ui-bg_glass_65_ffffff_1x400.png")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("stylesheets/images/ui-bg_gloss-wave_35_f6a828_500x100.png")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("stylesheets/images/ui-bg_highlight-soft_100_eeeeee_1x100.png")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("stylesheets/images/ui-bg_highlight-soft_75_ffe45c_1x100.png")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("stylesheets/images/ui-icons_222222_256x240.png")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("stylesheets/images/ui-icons_228ef1_256x240.png")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("stylesheets/images/ui-icons_ef8c08_256x240.png")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("stylesheets/images/ui-icons_ffd27a_256x240.png")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("stylesheets/images/ui-icons_ffffff_256x240.png")">
        
        <!--Adding required libraries for DateTime picker UI  -->
		<link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/jquery.datetimepicker.css")">
		<script src="@routes.Assets.at("javascripts/jquery.js")" type="text/javascript"></script>
		<script src="@routes.Assets.at("javascripts/jquery.datetimepicker.js")" type="text/javascript"></script>
		
		<script src="@routes.Assets.at("javascripts/jquery-ui-1.9.2.custom.js")" type="text/javascript"></script>
		<script src="@routes.Assets.at("javascripts/jquery-ui-1.9.2.custom.min.js")" type="text/javascript"></script>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/jquery-ui-1.9.2.custom.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/jquery-ui-1.9.2.custom.min.css")">
       
        
        <!--Adding required libraries for HighCharts -->
		<script src="http://code.highcharts.com/stock/highstock.js"></script>
		<script src="http://code.highcharts.com/stock/modules/exporting.js"></script>        
        
        <!-- Extra Unnecessary Scripts
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="http://code.highcharts.com/highcharts.js"></script>
		<script src="http://code.highcharts.com/modules/exporting.js"></script>
        <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
        <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
        <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
        -->
      
    </head>
    
    <body style="background-color:lightyellow;">
        @content
    <hr>
    
    
    
    <form action="/post" id="searchForm">
    <h2>Select Data Series <select id="data_names"></select> </h2>
  	<h2>Enter Start Date      <input type="text" id="datepicker1" name="start" placeholder="Click To Select"></h2>
  	<h2>Enter End Date        <input type="text" id="datepicker2" name="end" placeholder="Click To Select"></h2>
  	<input type="submit" value="SUBMIT">
	</form>
	
	<hr>
	<h3> <button type="button" id="saveAnnotations">Save Annotations Names</button>  </h3>
	<input type="text" id="addAnnotation" placeholder="Enter Desired Name">
	<select id="data_names2"></select>
	<button type="button" id="EnterSave">Enter To Save</button> 
	
	<h3><button type="button" id="deleteAnnotations">Delete Annotations Names</button> </h3>
	<select id="data_names3"></select>
	<select id="possibleAnnotation"></select>
	<button type="button" id="EnterDelete">Enter To Delete</button> 
	<hr>
	
	<div id="outerdialogUI" title="fruits">
	
	<h3>Start Date   <input type="text" id="UIdatepicker1" name="UIstart" placeholder="Click To Select"></h3>
	<h3>End Date     <input type="text" id="UIdatepicker2" name="UIend" placeholder="Click To Select"></h3>
	<h4>Possible Annotations</h4>
	<div id="dialogUI" title="fruits">	</div>
	</div>
    
    <div id="container" style="height: 450px; min-width: 600px"> <img id="image" height="450 width="1000" src="@routes.Assets.at("images/Untitled.png")"/></div>
    
    <button type="button" id="save">Save Annotations</button>
    <button type="button" id="show">Show Saved Annotations</button>
    <button type="button" id="temp">Show </button>
    
    <div id="container2" style="height: 450px; min-width: 600px"></div>
    
	<script>
		$(document).ready(function(){
		
		var start;
		var end;
		
		var startValue;
		var endValue;		
		var theOptions = [];	
		var dataSeries;
		var annotationNames = [];
		var annotations = {};
		
    	var selectStart;
		var selectEnd;
		var chart;
			
		$( this ).find('#outerdialogUI').hide();
		
			
		$( this ).find('#addAnnotation').hide();
		$( this ).find('#data_names2').hide();
		$( this ).find('#EnterSave').hide();
		
		
		$( this ).find('#data_names3').hide();
		$( this ).find('#possibleAnnotation').hide();
		$( this ).find('#EnterDelete').hide();
		
		//-------To get Names of all available data series-------- 
		jQuery.ajax({type: "GET",
		      async: false,
		      url: "/data",
		      success: function(data){
					var myData = $.parseJSON(data);
					$.each(myData, function( key, value ) {
							$.each(value, function(k,v){
								theOptions.push(v);
								});
						});		
		          }
		 })
		.fail(function(error) {
				  alert("Ajax Request Failed\nError Status Code : "+ 
				  error.status +"\nError Type : "+error.responseText+"\nPlease Try Again");		  
  		 }); 
  			
  					 
			var num,theSelect,theSelect2,theSelect3,anOption;
			theSelect = document.getElementById('data_names');
			for (i = 0; i < theOptions.length; i++) {
				
			    anOption = document.createElement('option');
			    anOption.value = theOptions[i];;
			    anOption.innerHTML = theOptions[i];
			    theSelect.appendChild(anOption);
			}
			
			
			dataSeries=theSelect.value;
			theSelect.onchange = function (){
					dataSeries=theSelect.value;
			}
			
			//----Adding Annotations Names--------
			$('#saveAnnotations').click(function() {
			
				var theSelect2 = document.getElementById('data_names2');
				theSelect2.innerHTML = "";
				
				for (i = 0; i < theOptions.length; i++) {
					anOption = document.createElement('option');
				    anOption.value = theOptions[i];;
				    anOption.innerHTML = theOptions[i];
				    theSelect2.appendChild(anOption);
			    }
				
				$( document ).find('#addAnnotation').show();
			    $( document).find('#data_names2').show();
				$( document).find('#EnterSave').show();
				
				
			});
			$('#EnterSave').click(function() {
				var DataSeries = document.getElementById('data_names2').value;
				var annotationName = document.getElementById('addAnnotation').value;
				jQuery.ajax({type: "POST",
			      	  async: false,
				      data: {'dataSeries' : DataSeries, 'annotationName' : annotationName },
				      url: "/saveAnnotations",
				      success: function(data){
				      		alert("Addition Successful");
				      		$( document ).find('#addAnnotation').hide();
					 	    $( document).find('#data_names2').hide();
							$( document).find('#EnterSave').hide();
			          }
			  	})
	  			.fail(function(error) {
						  alert("Ajax Request Failed\nError Status Code : "+ 
						  error.status +"\nError Type : "+error.responseText+"\nPlease Try Again");
						  
	  			}); 
			}); 
			
			
			
			//-------Delting Annotations Names------ 
				
			$('#deleteAnnotations').click(function() {
				var theSelect3 = document.getElementById('data_names3');
				theSelect3.innerHTML = "";
				for (i = 0; i < theOptions.length; i++) {
					anOption = document.createElement('option');
				    anOption.value = theOptions[i];
				    anOption.innerHTML = theOptions[i];
				    theSelect3.appendChild(anOption);
			    }
				var DataSeries=theSelect3.value;
				jQuery.ajax({type: "POST",
				      async: false,
				      data: {'dataSeries' : DataSeries },
				      url: "/annotations",
				      success: function(data){
				      		var options = document.getElementById('possibleAnnotation');
							options.innerHTML = "";
							var myData = $.parseJSON(data);
							$.each(myData, function( key, value ) {
									if(value.length==0){
										alert("No Annotations Names Exist for this data series!");
									}
									$.each(value, function(k,v){
									    var element = document.createElement('option');
										element.value = v;
									    element.innerHTML = v;
									    options.appendChild(element);
									    			
									    
									});
							});	
							//console.log(annotations);	
			          }
				})
		  		.fail(function(error) {
							  alert("Ajax Request Failed\nError Status Code : "+ 
							  error.status +"\nError Type : "+error.responseText+"\nPlease Try Again");
							  
		  		}); 
								
				theSelect3.onchange = function (){
						DataSeries=theSelect3.value;
						jQuery.ajax({type: "POST",
						      async: false,
						      data: {'dataSeries' : DataSeries },
						      url: "/annotations",
						      success: function(data){
						      		var options = document.getElementById('possibleAnnotation');
									options.innerHTML = "";
									var myData = $.parseJSON(data);
									$.each(myData, function( key, value ) {
											if(value.length==0){
												alert("No Annotations Names Exist for this data series!");
											}
											$.each(value, function(k,v){
											    var element = document.createElement('option');
												element.value = v;
											    element.innerHTML = v;
											    options.appendChild(element);
											    			
											    
											});
									});	
									//console.log(annotations);	
					          }
						})
				  		.fail(function(error) {
									  alert("Ajax Request Failed\nError Status Code : "+ 
									  error.status +"\nError Type : "+error.responseText+"\nPlease Try Again");
									  
				  		});
				}
				
				$( document ).find('#possibleAnnotation').show();
			    $( document).find('#data_names3').show();
				$( document).find('#EnterDelete').show();
				
			});	
				
			$('#EnterDelete').click(function() {
				var DataSeries = document.getElementById('data_names3').value;
				var annotationName = document.getElementById('possibleAnnotation').value;
				jQuery.ajax({type: "POST",
			      	  async: false,
				      data: {'dataSeries' : DataSeries, 'annotationName' : annotationName },
				      url: "/deleteAnnotations",
				      success: function(data){
				      		alert("Deletion Successful");
				      		$( document ).find('#possibleAnnotation').hide();
					 	    $( document).find('#data_names3').hide();
							$( document).find('#EnterDelete').hide();
				      		
			          }
			  	})
	  			.fail(function(error) {
						  alert("Ajax Request Failed\nError Status Code : "+ 
						  error.status +"\nError Type : "+error.responseText+"\nPlease Try Again");
						  
	  			}); 
			}); 
					
			
			//------------Initializing DateTimepickers 
			jQuery('#datepicker1').datetimepicker({
			startDate: '-1970/07/07',
			minDate:'2014/01/06',
  			maxDate:'2014/01/18',
  			
  			
			
			});
  		
			jQuery('#datepicker2').datetimepicker({
			startDate: '-1970/07/07',
  			minDate:'2014/01/06',
  			maxDate:'2014/01/18',
  			
  			  			
			});
			
			
				 
				
			
			//jQuery('#UIdatepicker1').datetimepicker();
			
			//jQuery('#UIdatepicker2').datetimepicker();
		


////////////////
    var dateFormat = function () {
        var    token = /d{1,4}|m{1,4}|yy(?:yy)?|([HhMsTt])\1?|[LloSZ]|"[^"]*"|'[^']*'/g,
            timezone = /\b(?:[PMCEA][SDP]T|(?:Pacific|Mountain|Central|Eastern|Atlantic) (?:Standard|Daylight|Prevailing) Time|(?:GMT|UTC)(?:[-+]\d{4})?)\b/g,
            timezoneClip = /[^-+\dA-Z]/g,
            pad = function (val, len) {
                val = String(val);
                len = len || 2;
                while (val.length < len) val = "0" + val;
                return val;
            };
    
        // Regexes and supporting functions are cached through closure
        return function (date, mask, utc) {
            var dF = dateFormat;
    
            // You can't provide utc if you skip other args (use the "UTC:" mask prefix)
            if (arguments.length == 1 && Object.prototype.toString.call(date) == "[object String]" && !/\d/.test(date)) {
                mask = date;
                date = undefined;
            }
    
            // Passing date through Date applies Date.parse, if necessary
            date = date ? new Date(date) : new Date;
            if (isNaN(date)) throw SyntaxError("invalid date");
    
            mask = String(dF.masks[mask] || mask || dF.masks["default"]);
    
            // Allow setting the utc argument via the mask
            if (mask.slice(0, 4) == "UTC:") {
                mask = mask.slice(4);
                utc = true;
            }
    
            var    _ = utc ? "getUTC" : "get",
                d = date[_ + "Date"](),
                D = date[_ + "Day"](),
                m = date[_ + "Month"](),
                y = date[_ + "FullYear"](),
                H = date[_ + "Hours"](),
                M = date[_ + "Minutes"](),
                s = date[_ + "Seconds"](),
                L = date[_ + "Milliseconds"](),
                o = utc ? 0 : date.getTimezoneOffset(),
                flags = {
                    d:    d,
                    dd:   pad(d),
                    ddd:  dF.i18n.dayNames[D],
                    dddd: dF.i18n.dayNames[D + 7],
                    m:    m + 1,
                    mm:   pad(m + 1),
                    mmm:  dF.i18n.monthNames[m],
                    mmmm: dF.i18n.monthNames[m + 12],
                    yy:   String(y).slice(2),
                    yyyy: y,
                    h:    H % 12 || 12,
                    hh:   pad(H % 12 || 12),
                    H:    H,
                    HH:   pad(H),
                    M:    M,
                    MM:   pad(M),
                    s:    s,
                    ss:   pad(s),
                    l:    pad(L, 3),
                    L:    pad(L > 99 ? Math.round(L / 10) : L),
                    t:    H < 12 ? "a"  : "p",
                    tt:   H < 12 ? "am" : "pm",
                    T:    H < 12 ? "A"  : "P",
                    TT:   H < 12 ? "AM" : "PM",
                    Z:    utc ? "UTC" : (String(date).match(timezone) || [""]).pop().replace(timezoneClip, ""),
                    o:    (o > 0 ? "-" : "+") + pad(Math.floor(Math.abs(o) / 60) * 100 + Math.abs(o) % 60, 4),
                    S:    ["th", "st", "nd", "rd"][d % 10 > 3 ? 0 : (d % 100 - d % 10 != 10) * d % 10]
                };
    
            return mask.replace(token, function ($0) {
                return $0 in flags ? flags[$0] : $0.slice(1, $0.length - 1);
            });
        };
    }();
    
    // Some common format strings
    dateFormat.masks = {
        "default":      "ddd mmm dd yyyy HH:MM:ss",
        shortDate:      "m/d/yy",
        mediumDate:     "mmm d, yyyy",
        longDate:       "mmmm d, yyyy",
        fullDate:       "dddd, mmmm d, yyyy",
        shortTime:      "h:MM TT",
        mediumTime:     "h:MM:ss TT",
        longTime:       "h:MM:ss TT Z",
        isoDate:        "yyyy-mm-dd",
        isoTime:        "HH:MM:ss",
        isoDateTime:    "yyyy-mm-dd'T'HH:MM:ss",
        isoUtcDateTime: "UTC:yyyy-mm-dd'T'HH:MM:ss'Z'"
    };
    
    // Internationalization strings
    dateFormat.i18n = {
        dayNames: [
            "Sun", "Mon", "Tue", "Wed", "Thu", "Fri", "Sat",
            "Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"
        ],
        monthNames: [
            "Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec",
            "January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"
        ]
    };
    
    // For convenience...
    Date.prototype.format = function (mask, utc) {
        return dateFormat(this, mask, utc);
    };
/////////////

		
		function colorGenerator(){
			
			function rand(min, max) {
			    return min + Math.random() * (max - min);
			}
			var h = Math.random();
		    var s = rand(0.85, 0.95);
		    var l = rand(0.85, 0.90);
		    var r,g,b;
		    if(s == 0){
		    	r = g = b = l; // achromatic
			}
			else{
			     function hue2rgb(p, q, t){
			     if(t < 0) t += 1;
			     if(t > 1) t -= 1;
			     if(t < 1/6) return p + (q - p) * 6 * t;
			     if(t < 1/2) return q;
			     if(t < 2/3) return p + (q - p) * (2/3 - t) * 6;
			     return p;
		     }
			
			     var q = l < 0.5 ? l * (1 + s) : l + s - l * s;
			     var p = 2 * l - q;
			     r = hue2rgb(p, q, h + 1/3);
			     g = hue2rgb(p, q, h);
			     b = hue2rgb(p, q, h - 1/3);
			    }
			var R,G,B;
    		R = Math.round(r * 255);
    		G = Math.round(g * 255);
    		B = Math.round(b * 255);
    		var hex = "#" + ((1 << 24) + (R << 16) + (G << 8) + B).toString(16).slice(1);
			return hex;
		}
		
		
		
		
		
		function drawchart(){

    	var startValue1=Number(start);
    	var endValue1=Number(end);
    	if ( isNaN(start) || isNaN(end)  || startValue1>endValue1){	
	    	alert("ERROR : INVALID DATA ENTRY\nPLEASE TRY AGAIN");
	    	location.reload();
    	}
    	else{
    	var posting = $.ajax({type : 'POST',
    						url: "/post",
    						data : { 'Start' : start , 'End' : end , 'dataSeries' : dataSeries },
    						success:  function(data){
    								Highcharts.setOptions({
										global: {
											useUTC: false
										}
									});
			    					var sensorchartOptions = {
			    					chart: {
							            renderTo: 'container',
							            type: 'line',
							            zoomType: 'x',
								        events: {
								        	
								        	selection: function(event) {
								        		event.preventDefault();
								        		if (event.xAxis) {
								                	var len,value;
								                	var select_S = new Date(event.xAxis[0].min);
								                	var select_E = new Date(event.xAxis[0].max);
								                	
								                	selectStart = (select_S.getTime()-select_S.getMilliseconds())/1000;
								                	selectEnd   = (select_E.getTime()-select_E.getMilliseconds())/1000;
								                	var strt = new Date(selectStart*1000).format("yyyy/mm/dd HH:MM");
								                	var strtDate = new Date(selectStart*1000).format("yyyy/mm/dd");
								                	var end = new Date(selectEnd*1000).format("yyyy/mm/dd HH:MM");
								                	var endDate = new Date(selectEnd*1000).format("yyyy/mm/dd");
								                	jQuery('#UIdatepicker1').datetimepicker({
								                		 value : strt,
								                		 minDate :strtDate,
													  	 maxDate :endDate,
													  	 formatdate:'Y/m/d',
								                	});
								                	jQuery('#UIdatepicker2').datetimepicker({
													    value : end,
													    minDate :strtDate,
													  	maxDate :endDate,
													  	formatdate:'Y/m/d',
													});
								                    $("#outerdialogUI").dialog({
													        resizable: false,
													        modal: true,
													        title: "Confirm Selection",
													        height: 400,
													        width: 600,
													        buttons: {
													            "Yes": function () {
													                len = document.getElementsByName("fruits").length;
													                for (var i = 0 ; i < len ; i++){
													                	if (document.getElementsByName("fruits")[i].checked){
													                		value = document.getElementsByName("fruits")[i].value;
													                		
													                		break;
													                	}//if close	
													                }//for close
													      	         $(this).dialog('close');          
													            },//yes close
													                "No": function () {
													                $(this).dialog('close');
													                
													            }//no close
													       },//buttons close
													       close: function () {
																	  if (value != null) {
																	  		
																	    	var j=0;
																	    	var found = false;
																	    	while(j<annotationNames.length){
																	      		if(value == j){
																	        		alert("Device Usage Saved");
																	        		for (var i=selectStart; i <= selectEnd; i++){
																	        			
																	        			annotations[annotationNames[j]][i]=1
																	        			
																	        		}
																	        		
																	        		found = true;
																	        	    plot(selectStart,selectEnd,j);
																	        	    
																	        	}
																	        	j++;
																	        	
																	        }//while
																	        if (!found){
																	        	alert("Invalid Input !!! \nPlease Try Again");
																	        }
																	        
																	  }//if
																	  
													        }//close function
													 });//dialog close
													 
								                } //if close
								        	}//selection close
								      	 
							    		},//events close
							        },//chart
							        title: {
							            text: 'SENSOR DATA'
							        },
							       	rangeSelector: {
			        						buttons: [{
														type: 'minute',
														count: 1,
														text: 'min'
													}, {
														type: 'hour',
														count: 1,
														text: 'hr'
													}, {
														type: 'day',
														text: 'day'
													}, {
														type: 'all',
														text: 'All'
													}],
											buttonTheme: { // styles for the buttons
											    		fill: 'none',
											    		stroke: 'none',
											    		'stroke-width': 0,
											    		r: 8,
											    		style: {
											    			color: '#039',
											    			fontWeight: 'bold'
											    		},
											    		states: {
											    			hover: {
											    			},
											    			select: {
											    				fill: '#039',
											    				style: {
											    					color: 'white'
											    				}
											    			}
											    		}
											    	},
											 inputEnabled: false
									    	
								    },
								    scrollbar: {
										barBackgroundColor: 'gray',
										barBorderRadius: 7,
										barBorderWidth: 0,
										buttonBackgroundColor: 'gray',
										buttonBorderWidth: 0,
										buttonArrowColor: 'yellow',
										buttonBorderRadius: 7,
										rifleColor: 'yellow',
										trackBackgroundColor: 'white',
										trackBorderWidth: 1,
										trackBorderColor: 'silver',
										trackBorderRadius: 7
								    },
			       					navigator: {
								    	handles: {
								    		backgroundColor: 'yellow',
								    		borderColor: 'red'
								    	}
								    },
			        				xAxis: {
			        					type: 'datetime'
			        				},
			        				yAxis: {
			        					allowDecimals :true
			        				},
							        series: [{
							        			data:[]
							        			
							        		}]
							       };			
							     
							      chart = new Highcharts.StockChart(sensorchartOptions);
			    				  var points = $.parseJSON(data);
			    				  $.each(points, function( key, value ) {
			    				  			num=Number(key)*1000;
			    				  			var date = new Date(num).getTime();
			    				  			chart.series[0].addPoint([date,Number(value)], false);
			  			        			});
			  								
			  					  chart.redraw();
			  					  //alert("Press Show");
			  					  }
					   	   
					   })
					  .fail(function(error) {
					  alert("Ajax Request Failed\nError Status Code : "+ 
					  error.status +"\nError Type : "+error.responseText+"\nPlease Try Again");
					  
  					 });					
    		
    		
    		}//close else		
    	}//close function		
		
		
		$("#searchForm").submit(function(event){
 		event.preventDefault();
 	
 		var $form = $( this );
  		startValue = $form.find( "input[name='start']" ).val();
  		alert(startValue);
  		endValue = $form.find( "input[name='end']" ).val();
  		start = new Date(startValue).getTime()/1000;
  		end = new Date(endValue).getTime()/1000;
  		
  		jQuery.ajax({type: "POST",
			      async: false,
			      data: {'dataSeries' : dataSeries },
			      url: "/annotations",
			      success: function(data){
			      		annotationNames.length = 0;
			      		var i=0;
			      		var foo = document.getElementById("dialogUI");
			      		foo.innerHTML = "";
			      		
						var myData = $.parseJSON(data);
						$.each(myData, function( key, value ) {
								$.each(value, function(k,v){
									annotations[v]= {};
									annotationNames.push(v);
									
								    var element = document.createElement("input");
									element.setAttribute("type", "radio");
								    element.setAttribute("value", i++);
								    element.setAttribute("name", "fruits");			
									var lb = document.createElement("br");
									foo.appendChild(element);
									foo.innerHTML += v;
									foo.appendChild(lb);
								    
								});
						});	
						//console.log(annotations);	
		          }
		})
  		.fail(function(error) {
					  alert("Ajax Request Failed\nError Status Code : "+ 
					  error.status +"\nError Type : "+error.responseText+"\nPlease Try Again");
					  
  		}); 
    	drawchart();
    	
		});
		
		
		
		function plot(start,stop,c){
		
		  if (c != null) {
					var j=0;
					while(j<annotationNames.length){
					        if(c == j){
					        		
									chart.xAxis[0].addPlotBand({
										from: start*1000,
										to: stop*1000,
										color: colorGenerator(),
										id: annotationNames[j],
										label: {
					                    text: annotationNames[j],
					                    style: {
					                        color: 'blue',
					                        fontWeight: 'bold'
						                    }
						                },
						                events: {
						                    click: function(e) {
						                    	var confirm = window.confirm("Are you sure you want to DELETE this label?");
						                        if(confirm == true){
						                        		//console.log(j);
						                        		//console.log(annotationNames[j]);
						                        		$.ajax({
						                        		
																  type: "POST",
																  url: '/delete',
																  data: { 'Start' : start , 'Stop' : stop, 'dataSeries' : dataSeries, 'Name' : annotationNames[j]},
																  success:function(data){
																  		alert("Deletion Successful. \nReload data to veiw changes");
																  		location.reload();
																  }
												 	 	 })
												 	 	 .fail(function(error) {
														  alert("Ajax Request Failed\nError Status Code : "+ 
														  error.status +"\nError Type : "+error.responseText+"\nPlease Try Again");
														  
									  					 }); 
												 	}//if close	 	 
						                        }//click close
						                        
										  }//event close
									})//plotband close
							break;
							}
					      	
					      	j++;
														        	
		            }//while
		        
			    
          }//if
		
		
}
		
		$('#show').click(function() {
		var labelname = [];
		var from = [];
    	var to = [];
    	var i = 0;
    	console.log(from[0]+":"+to[0]+":"+labelname[0])
						jQuery.ajax({type: "POST",
						            url: "/show",
						            async: false,
						            data: {'dataSeries' : dataSeries },
						            success: function(data){
						            	
						                 var myData = $.parseJSON(data);
										 //console.log(myData.length);
										  $.each(myData, function( key, value ) {   
    										 var start = true;
    										 var prev;
    										  
    										  labelname.push(key);
    										 $.each(value, function( k, v ) { 
											    //console.log(k);
											     if(start){
											     	from[i] = Number(k);
											     	start = false;
												 }
												 else{
													  if (!start && prev !=  (Number(k)-1)){
														  to[i] = prev;
														  i++;
														  labelname.push(key);
														  //console.log("Number"+Number(k))
														  from[i]=Number(k);
														  
													 } 
													  if (!start){ 
													  	  to[i] = Number(k);
													 }
												}
												prev = Number(k);
										    });
										    i++;	
										    
										    
										});
										 
									  	start = Math.min.apply(Math, from);
									   	end = Math.max.apply(Math, to);
									   	var check = isFinite(end);
									   	
									   	if (!check){
											  	alert("No Annotations Saved For This Data Series");
									   	}
									   
									   	
									   	jQuery.ajax({type: "POST",
										      async: false,
										      data: {'dataSeries' : dataSeries },
										      url: "/annotations",
										      success: function(data){
										      		annotationNames.length = 0;
										      		var i=0;
										      		var foo = document.getElementById("dialogUI");
										      		foo.innerHTML = "";
													var myData = $.parseJSON(data);
													$.each(myData, function( key, value ) {
															$.each(value, function(k,v){
																annotations[v]= {};
																annotationNames.push(v);
																
															    var element = document.createElement("input");
																element.setAttribute("type", "radio");
															    element.setAttribute("value", i++);
															    element.setAttribute("name", "fruits");			
																var lb = document.createElement("br");
																foo.appendChild(element);
																foo.innerHTML += v;
																foo.appendChild(lb);
															    
															});
													});	
													//console.log(annotations);	
									          }//success
									   })//ajax to /annotation
									   .fail(function(error) {
										  alert("Ajax Request Failed\nError Status Code : "+ 
										  error.status +"\nError Type : "+error.responseText+"\nPlease Try Again");
										  
					  			   	   }); 	


										//drawing chart first	

										var startValue1=Number(start);
								    	var endValue1=Number(end);
								    	
								    	if ( isNaN(start) || isNaN(end)  || startValue1>endValue1){	
									    	alert("ERROR : INVALID DATA ENTRY\nPLEASE TRY AGAIN");
									    	location.reload();
								    	}
								    	else{
								    	var posting = $.ajax({type : 'POST',
								    						url: "/post",
								    						data : { 'Start' : start , 'End' : end , 'dataSeries' : dataSeries },
								    						success:  function(data){
								    								Highcharts.setOptions({
																		global: {
																			useUTC: false
																		}
																	});
											    					var sensorchartOptions = {
											    					chart: {
															            renderTo: 'container',
															            type: 'line',
															            zoomType: 'x',
																        events: {
																        	
																        	selection: function(event) {
																        		event.preventDefault();
																        		if (event.xAxis) {
																                	var len,value;
																                	var select_S = new Date(event.xAxis[0].min);
																                	var select_E = new Date(event.xAxis[0].max);
																                	
																                	selectStart = (select_S.getTime()-select_S.getMilliseconds())/1000;
																                	selectEnd   = (select_E.getTime()-select_E.getMilliseconds())/1000;
																                    $("#outerdialogUI").dialog({
																					        resizable: false,
																					        modal: true,
																					        title: "Confirm Selection",
																					        height: 350,
																					        width: 600,
																					        buttons: {
																					            "Yes": function () {
																					                len = document.getElementsByName("fruits").length;
																					                for (var i = 0 ; i < len ; i++){
																					                	if (document.getElementsByName("fruits")[i].checked){
																					                		value = document.getElementsByName("fruits")[i].value;
																					                		alert(value);
																					                		break;
																					                	}	
																					                }
																					                
																					            },
																					                "No": function () {
																					                $(this).dialog('close');
																					                
																					            }
																					       },
																					       close: function () {
																									  if (value != null) {
																									  		var try1 = $('#UIdatepicker1').val();
																									    	alert(try1);
																									    	var j=0;
																									    	var found = false;
																									    	while(j<annotationNames.length){
																									      		if(value == j){
																									        		alert("Device Usage Saved");
																									        		for (var i=selectStart; i <= selectEnd; i++){
																									        			
																									        			annotations[annotationNames[j]][i]=1
																									        			
																									        		}
																									        		
																									        		
																									        		
																									        		found = true;
																									        	    plot(selectStart,selectEnd,j);
																									        	    
																									        	}
																									        	//console.log("as");
																									        	//console.log(annotations[annotationNames[j]]);
																									        	j++;
																									        	
																									        }//while
																									        if (!found){
																									        	alert("Invalid Input !!! \nPlease Try Again");
																									        }
																									        
																									  }//if
																									  
																					        }//close function
																					 });//dialog close
																					 
																                } //if close
																        	}//selection close
																      	 
															    		},//events close
															        },//chart
															        title: {
															            text: 'SENSOR DATA'
															        },
															       	rangeSelector: {
											        						buttons: [{
																						type: 'minute',
																						count: 1,
																						text: 'min'
																					}, {
																						type: 'hour',
																						count: 1,
																						text: 'hr'
																					}, {
																						type: 'day',
																						text: 'day'
																					}, {
																						type: 'all',
																						text: 'All'
																					}],
																			buttonTheme: { // styles for the buttons
																			    		fill: 'none',
																			    		stroke: 'none',
																			    		'stroke-width': 0,
																			    		r: 8,
																			    		style: {
																			    			color: '#039',
																			    			fontWeight: 'bold'
																			    		},
																			    		states: {
																			    			hover: {
																			    			},
																			    			select: {
																			    				fill: '#039',
																			    				style: {
																			    					color: 'white'
																			    				}
																			    			}
																			    		}
																			    	},
																			 inputEnabled: false
																	    	
																    },
																    scrollbar: {
																		barBackgroundColor: 'gray',
																		barBorderRadius: 7,
																		barBorderWidth: 0,
																		buttonBackgroundColor: 'gray',
																		buttonBorderWidth: 0,
																		buttonArrowColor: 'yellow',
																		buttonBorderRadius: 7,
																		rifleColor: 'yellow',
																		trackBackgroundColor: 'white',
																		trackBorderWidth: 1,
																		trackBorderColor: 'silver',
																		trackBorderRadius: 7
																    },
											       					navigator: {
																    	handles: {
																    		backgroundColor: 'yellow',
																    		borderColor: 'red'
																    	}
																    },
											        				xAxis: {
											        					type: 'datetime'
											        				},
											        				yAxis: {
											        					allowDecimals :true
											        				},
															        series: [{
															        			data:[]
															        			
															        		}]
															       };			
															     
															      chart = new Highcharts.StockChart(sensorchartOptions);
											    				  var points = $.parseJSON(data);
											    				  $.each(points, function( key, value ) {
											    				  			num=Number(key)*1000;
											    				  			var date = new Date(num).getTime();
											    				  			chart.series[0].addPoint([date,Number(value)], false);
											  			        			});
											  								
											  					  chart.redraw();
											  					  alert("Data Loaded Successfully.\nPlease Press 'SHOW' button");
											  					  }
													   	   
													   })
													  .fail(function(error) {
													  alert("Ajax Request Failed\nError Status Code : "+ 
													  error.status +"\nError Type : "+error.responseText+"\nPlease Try Again");
													  
								  					 });					
								    		
								    		
								    		}

										//////////////
									   	$('#temp').click(function(){
									 	for (var j = 0; j < from.length;j++){
									 		var parts = labelname[j].split("_");
									 		var subparts = parts[1].split(".");
									 		var index = annotationNames.indexOf(subparts[0]);
									 		plot(from[j],to[j],index);
										  	//console.log(labelname[j]+":"+from[j]+":"+to[j]);
										   	}
										from.length=0;
										to.length=0;
										labelname.length=0;
										});//temp.click			                
						            }//success
						      })//ajax to /show
						      .fail(function(error) {
								  alert("Ajax Request Failed\nError Status Code : "+ 
								  error.status +"\nError Type : "+error.responseText+"\nPlease Try Again");
								  
			  			 	  }); 
						      
			})
		
	
		
		$('#save').click(function() {
		/*var devicechartOptions = {
    					chart: {
				            renderTo: 'container2',
				            type: 'line',
				        },
				        title: {
				            text: 'DEVICE USAGE DATA'
				        },
				       	rangeSelector: {
        						buttons: [{
											type: 'minute',
											count: 1,
											text: 'min'
										}, {
											type: 'hour',
											count: 1,
											text: 'hr'
										}, {
											type: 'day',
											text: 'day'
										}, {
											type: 'all',
											text: 'All'
										}],
								buttonTheme: { // styles for the buttons
								    		fill: 'none',
								    		stroke: 'none',
								    		'stroke-width': 0,
								    		r: 8,
								    		style: {
								    			color: '#039',
								    			fontWeight: 'bold'
								    		},
								    		states: {
								    			hover: {
								    			},
								    			select: {
								    				fill: '#039',
								    				style: {
								    					color: 'white'
								    				}
								    			}
								    		}
								    	},
								 inputEnabled: false
						    	
					    },
					    scrollbar: {
							barBackgroundColor: 'gray',
							barBorderRadius: 7,
							barBorderWidth: 0,
							buttonBackgroundColor: 'gray',
							buttonBorderWidth: 0,
							buttonArrowColor: 'yellow',
							buttonBorderRadius: 7,
							rifleColor: 'yellow',
							trackBackgroundColor: 'white',
							trackBorderWidth: 1,
							trackBorderColor: 'silver',
							trackBorderRadius: 7
					    },
       					navigator: {
					    	handles: {
					    		backgroundColor: 'yellow',
					    		borderColor: 'red'
					    	}
					    },
        				xAxis: {
        					type: 'datetime'
        					
        					
        				},
        				yAxis: {
        					allowDecimals :false
        				},
				        series: [{
				        			data: []
				        		},{
						            data: []
						        }, {
						            data: []
						        }, {
						            data: []	
				        		}]
				       };			
				     
				      var chart2 = new Highcharts.StockChart(devicechartOptions);
    				  for (var i=Number(start);i<Number(end);i++){
    				  	  var milliSec=Number(i)*1000;
    				  	  var dateX = new Date(milliSec).getTime();
    				   	  
    				   	  if (i in deviceMapA) {
    				   	  		chart2.series[0].addPoint([dateX,1], false);
    				   	  } else {
    				   	  		chart2.series[0].addPoint([dateX,0], false);
    				   	  }
    				   	  if (i in deviceMapB) {
    				   	  		chart2.series[1].addPoint([dateX,1], false);
    				   	  } else {
    				   	  		chart2.series[1].addPoint([dateX,0], false);
    				   	  }
    				   	  if (i in deviceMapC) {
    				   	  		chart2.series[2].addPoint([dateX,1], false);
    				   	  } else {
    				   	  		chart2.series[2].addPoint([dateX,0], false);
    				   	  }
    				   	  if (i in deviceMapD) {
    				   	  		chart2.series[3].addPoint([dateX,1], false);
    				   	  } else {
    				   	  		chart2.series[3].addPoint([dateX,0], false);
    				   	  }
    				   	  
    				   	  
    				  }
    				  		chart2.redraw();
    				  	*/
  					  		var annotated = {};
  					  		annotated.start = start;
  					  		annotated.end = end;
  					  		annotated.dataSeriesName = dataSeries;
  					  		annotated.names = {};
  					  		for (var i=0; i<annotationNames.length; i++){
  					  			annotated.names[annotationNames[i]]=1;
  					  			annotated[annotationNames[i]] = annotations[annotationNames[i]]
  					  		}
  					  		
  					  		/*annotated.names = {"deviceA":1,"deviceB":1,"deviceC":1,"deviceD":1}
  					  		annotated.deviceA = deviceMapA;
  					  		annotated.deviceB = deviceMapB;
  					  	    annotated.deviceC = deviceMapC;
  					  	    annotated.deviceD = deviceMapD;
  					  	    */
  					  	    var annotatedJson= JSON.stringify(annotated);
  					  	    console.log(annotatedJson);
  							jQuery.ajax({type: "POST",
						            url: "/save",
						            data: annotatedJson,
						            
						            contentType: "application/json; charset=utf-8",
						            success: function(data){
						                alert("Changes been succesfully saved");
						            }
						      })
						      .fail(function(error) {
						      
								  alert("Ajax Request Failed\nError Status Code : "+ 
								  error.status +"\nError Type : "+error.responseText+"\nPlease Try Again");
			  			      }); 
						      
  					  
		});//save.click 
		
		
	});//Main document.ready func
		
		
		
	</script>
  </body>
</html>
